@model MandaditosExpress.Models.Envio

@{
    ViewBag.Title = "Realizar Envio";
}


<div class="row m-2">
    <div class="col-sm-4 p-2">
        <div class="card" style="width:95%;height:95%">
            <div class="Map" style="width:337px;height:300px"></div>
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-dot-circle-o"></i> Direccion Origen</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 p-2">
        <div class="card" style="width:95%;height:95%;">
            <div class="Map" style="width:337px;height:300px"></div>
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-map-marker"></i> Direccion Destino</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>


<pre>
<code data-bind="html: JSON.stringify(ko.toJS($root), null, 3)"></code>
</pre>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDmKbJfbvqtbp9AoRjEAn-90N75Wa2CdIg"></script>
@Scripts.Render("~/plugins/locationpicker")
@Scripts.Render("~/plugins/knockout")

<script type="text/javascript">

    $(".Map").locationpicker({

        location: {
            latitude: 12.128145869138876,
            longitude: -86.26501267501537
        },
        radius: 0
    });

</script>