@model MandaditosExpress.Models.Envio

@{
    ViewBag.Title = "Realizar Envio";
}


<body>
    <div id="map" style="height:50%;width:50%"></div>

</body>


@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmKbJfbvqtbp9AoRjEAn-90N75Wa2CdIg"></script>
    
    
    <script>
        let map;
        $(function () {
            initMap();
        });

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8,
            });
        }

    </script>

}

