
@{
    ViewBag.Title = "ListClientesxFec";
}

<h2>Lista de Clientes por Fecha</h2>


@Html. ReportViewer(Viewdag.rpt as Microsoft.Reporting WebForms.ReportViewe, new (Style="width:100%;height:100;"})

