@using ReportViewerForMvc;

@{
    ViewBag.Title = "ListClientesxFec";
}

<h2>Lista de Clientes por Fecha</h2>


@Html.ReportViewer(ViewBag.rpt as Microsoft.Reporting.WebForms.ReportViewer, new { Style = "width:100%;height:100;" });

