<template id="servicio-modal-template">

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="DescripcionDelServicio" class="control-label">Descripcion Del Servicio</label>
                <input type="text" data-bind="value:DescripcionDelServicio, disable:$root.Disable" name="DescripcionDelServicio" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="Estado" class="control-label">Estado Del Servicio</label>
                <input type="checkbox" data-bind="checked: Estado,bsSwitchButton: {}" name="Estadoh" id="switch-estado">
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="DescripcionTipoDeServicio" class="control-label">Tipo De Servicio</label>
                <input type="text" data-bind="value:DescripcionTipoDeServicio, disable:$root.Disable, disable: $root.DisableEver" name="DescripcionTipoDeServicio" class="form-control" />
            </div>
        </div>
    </div>

</template>