<template id="tipodepago-modal-template">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Descripcion" class="control-label">Descripción</label>
                <input type="text" data-bind="value:Descripcion" name="Descripcion" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-10">
            <div class="form-group">
                <label for="Estado" class="control-label">Estado</label>
                <input type="checkbox" data-bind="checked: EstadoTipoDePago,bsSwitchButton: {}" name="EstadoTipoDePago" id="switch-estadotipodepago" >
            </div>
        </div>

    </div>
</template>

